
   .app-header {
    height: 50px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgb(45, 75, 101);
}

.app-container {
    height: calc(100vh - 50px);
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(244, 244, 244);
}

.navbar-brand {
 margin-left: 20px;
}

.nav-item {
    cursor: pointer;
}
.navbar-right {
    min-width: 200px;
    display: flex;
    align-items: center;
   justify-content: flex-end;
}

.navbar-right .nav-item {
    margin-left: 20px;
}

/* .bookmarks-bar {
    height: 20px;
    background-color: rgb(244, 244, 244);
} */
.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.right-box {
    flex: 1 1;
    overflow-y: auto;
    padding: 30px 20px 10px 20px;
}

.search-bar {
    border: 1px solid rgb(244, 244, 244);
    display: inline-flex;
    width: 350px;
    margin-left: 20px;
    border-radius: 2px;
    
}

.search-bar svg {
    height: 100%;
    width: 16px;
    margin: 5px 10px;
}

.search-bar input[type=text] {
    display: inline;
    background:transparent;
    border: none;
    flex: 1 1;
}

.select-bar {
    display: inline-flex;
    margin-left: 20px;
    margin-right: 20px;
}
.select-bar select {
    width: 100%;
    padding: 4px;
    border: none;
    border: 1px solid rgb(0, 0, 0, 0);
    background: transparent;
    color: white;
    cursor: pointer;
}

.select-bar option {
    color: black;
}